.articles {
  padding: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article + .article {
  margin-top: 3rem;
}

.article-title {
  font-weight: 500;
  font-weight: 2rem;
  margin-bottom: 1rem;
}

.article-content {
  color: #3a3a3a;
}

.article-content a {
  text-decoration: none;
  color: #25389e;
  position: relative;
}

.article-content a::before {
  content: ' ';
  width: 0;
  height: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: -1;
  transition: all .2s ease;
}

.article-content a:hover::before {
  background-color: #f3f2f1;
  width: 70px;
  height: 10px;
}
