@import './alert.css';
@import './hero.css';
@import './menu.css';
@import './articles.css';
@import './footer.css';
@import './queries.css';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  color: #151515;
}

body,
button,
input,
textarea {
  font: 1rem 'CircularStd', sans-serif;
}

input,
textarea {
  background-color: #edebe9;
  border: none;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  color: #1e1e1e;
}

input::placeholder,
textarea::placeholder {
  color: #727272;
}

input:focus,
textarea:focus {
  background-color: #e1dfdd;
}

.logo {
  position: relative;
}

.logo h1 {
  font-weight: 400;
}

.logo h1 span {
  font-weight: 500;
}

.logo::before,
.logo::after {
  content: ' ';
  width: 15px;
  height: 3px;
  background-color: #25389e;
  position: absolute;
  top: .2rem;
  right: -.7rem;
  padding: 0;
}

.logo::before {
  transform: rotate(90deg);
}
.title {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.btn {
  padding: 1rem;
  border: none;
  min-width: 100px;
  cursor: pointer;
  transition: all .2s ease;
  margin-top: 1rem;
  width: 100%;
}

.btn--primary {
  color: #f3f2f1;
  background-color: #25389e;
}

.btn--primary:hover {
  background-color: #1c2a78;
}

.contact {
  padding: 1rem;
  margin: 2rem 0;
}
